

  <%= simple_form_for(@post) do |f| %>
    <div> <%= f.input :title %></div>
    <div> <%= f.input :body %></div>
  <%= f.submit :class => "submit" %> 
  <% end %>
<% link_to "Go Back", posts_path %>

