

 <%= simple_form_for(@post) do |f| %>

        <%= f.input :title %>
      <div class="input-field col s12"> 
          <%= f.input :body %>
      </div>
        <%= f.submit %> 
     
    <% end %>