
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <div class="container">
        <h1>Create new post</h1>
        <%= render 'posts/form'%>
</div>
